# Catch all
/*/
/*

# Include git & github files
!/.github/
!.gitignore

# Include pack information
!/instance.json
!/*.mrpack

# Include config files except user options
!/config/
/config/inventorysorter/config.json5
/config/sodium-extra-options.json
/config/presencefootsteps/userconfig.json
/config/jei
/config/emi.css
/config/emi_loot_config.toml
/config/emitrades.json5
/config/iris.properties
/config/fabric/indigo-renderer.properties
/config/indium-renderer.properties
/config/mindfuldarkness-client.toml
/config/xaerominimap.txt
/config/xaeroworldmap.txt
/config/DistantHorizons.toml
