# Catch all
/*/
/*

# Include git & github files
!/.github/
!.gitignore

# Include pack information
!/instance.json
!/*.mrpack

# Include config files except user options
!/config/
/config/inventorysorter/config.json5
/config/sodium-extra-options.json
/config/presencefootsteps/userconfig.json